LOLZTEAM_TOKEN=

LOLZTEAM_MARKET_TOKEN=
LOLZTEAM_FORUM_TOKEN=

LOLZTEAM_MARKET_BASE_URL=https://prod-api.lzt.market
LOLZTEAM_FORUM_BASE_URL=https://prod-api.lolz.live

LOLZTEAM_HTTP_TIMEOUT=30
LOLZTEAM_LOG_LEVEL=INFO

LOLZTEAM_ENABLE_MARKET=true
LOLZTEAM_ENABLE_FORUM=true
